.contact-page{
  background:#faf7f2;
}


/* HERO */

.contact-hero{
  height: 45vh;
  background-image: url('/team.jpg'); /* replace later */
  background-size: cover;
  background-position: center;
  position: relative;
  
}

.hero-team-image
{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;

  transform: translate(-50%, -50%);
  z-index: 1;
}

.contact-hero-overlay{
  position:absolute;
  inset:0;
  background: rgba(0,0,0,0.45);

  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-align:center;
  color:white;
  z-index: 2;
}

.contact-hero h1{
  font-size:3rem;
  margin-bottom:10px;
}

.contact-hero p{
  font-size:1.2rem;
  opacity:.9;
}



/* GRID */

.contact-wrapper{
  max-width:1200px;
  margin:auto;
  padding:80px 20px;

  display:grid;
  grid-template-columns:1fr 1fr;
  gap:60px;
}



/* INFO SIDE */

.contact-info h2{
  font-size:2rem;
  margin-bottom:15px;
}

.contact-info p{
  margin-bottom:30px;
  color:#555;
}

.info-card{
  margin-bottom:25px;
}

.info-card h3{
  margin-bottom:5px;
}

.info-card span{
  font-size:.9rem;
  color:#888;
}



/* ORDER BUTTON */

.order-btn{
  display:inline-block;
  margin-top:20px;
  padding:14px 26px;

  background: var(--aleppo-pomegranate);
  color:white;
  border-radius:8px;
  text-decoration:none;
  font-weight:600;

  transition: all .25s ease;
}

.order-btn:hover{
  transform: translateY(-3px);
  color: white;
}



/* FORM */

.contact-form{
  background:white;
  padding:40px;
  border-radius:12px;
  box-shadow:0 10px 30px rgba(0,0,0,.06);

  display:flex;
  flex-direction:column;
}

.contact-form h2{
  margin-bottom:20px;
}

.contact-form input,
.contact-form textarea{
  padding:14px;
  margin-bottom:15px;
  border-radius:8px;
  border:1px solid #ddd;
  font-size:1rem;
}

.contact-form button{
  padding:14px;
  border:none;
  border-radius:8px;

  background: var(--aleppo-pomegranate);
  color:white;
  font-size:1rem;
  cursor:pointer;

  transition: all .25s ease;
}

.contact-form button:hover{
  transform: translateY(-2px);
}



/* MOBILE */

@media(max-width:900px){
  .contact-wrapper{
    grid-template-columns:1fr;
  }

  .contact-hero h1{
    font-size:2.2rem;
  }
}
