html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

body {
  padding-top: 92px; 
  background-color: var(--aleppo-stone);
}


